@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
  /* border: 1px dotted red; */
  box-sizing: border-box;
  cursor: default;
}
.App {
  padding-top: 10vh;
  background-color: #2d333b;
  height: 100vh;
}

.calculator {
  width: 300px;
  margin: 0 auto;
  background-color: black;
  color: #c0661c;
  /* position: relative; */
}

header {
  display: table-cell;
  vertical-align: middle;
  width: 300px;
  overflow: hidden;
  font-size: 4rem;
  text-align: right;
  padding: 2px 10px;
  border: 1px solid #2d333b;
  height: 100px;
}

.col-25 {
  display: inline-block;
  width: 25%;
  border: 1px solid #2d333b;
  padding: 20px 0;
  text-align: center;
  font-size: 1.5rem;
}
.col-25:hover {
  background-color: #2d333b69;
}
.col-50 {
  display: inline-block;
  width: 50%;
  border: 1px solid #2d333b;
}
.col-50:hover {
  background-color: #2d333b69;
}
.leftAlign {
  text-align: left;
  font-size: 1.5rem;
  padding: 20px 29px;
}
.copyright {
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
  color: lightgray;
}
.copyright .github-icon img {
  /* margin-bottom: 5px; */
  filter: invert(50%);
  width: 30px;
  height: 30px;
  transition: filter 0.5s;
}
.copyright .github-icon img:hover {
  filter: invert(100%);
}
.copyright .mrclcyn-ct {
  display: inline-block;
}
.copyright .mrclcyn-ct .mrclcyn {
  font-weight: bold;
  display: inline-block;
  position: relative;
  color: #ff8800;
  text-decoration: none;
  font-size: 18px;
  font-family: "Gloria Hallelujah", cursive;
  cursor: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  padding-left: 5px;
}
@keyframes mrclcyn {
  0% {
    color: #001aff;
    left: -2px;
    bottom: -2px;
  }
  25% {
    color: rgba(73, 73, 73, 0.431372549);
    left: 0px;
    bottom: -2px;
  }
  50% {
    color: #ff0000;
    left: 2px;
    bottom: 0px;
  }
  75% {
    color: #000000;
    left: 0px;
    bottom: 2px;
  }
  100% {
    color: #ffffff;
    left: -2px;
    bottom: 0px;
  }
}
.copyright .mrclcyn-ct .mrclcyn:hover {
  animation: mrclcyn 0.0001s linear infinite;
}
